# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# .NET
[Bb]in/
[Oo]bj/
*.suo
*.user
*.sln.docstates

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# VS Code
.vscode/

# JetBrains
.idea/

# Secrets
*.pem
*.key
secret.yaml

# Helm
chart/charts/
*.tgz
